body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #0f111a;
}

.sidebar {
  min-height: 100vh;
  background-color: #0d1117;
}

.perfil-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.contenido-principal {
  background-color: #000; /* Fondo negro */
  position: relative;
}

.fondo-abstracto {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 300px;
  opacity: 0.5; /* Transparencia */
  z-index: 1;
  pointer-events: none;
}

